<launch>

      <!-- Robot IP -->
      <arg name="robot_ip" default="192.168.125.1"/>

      <!-- ABB bringup -->
      <include file="$(find abb_robot_bringup_examples)/launch/ex3_rws_and_egm_yumi_robot.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
      </include>


      <!-- Startup Node -->
      <node pkg="yumi_ros"
            type="yumi_startup_node.py"
            name="yumi_startup"
            output="screen" />

      <node pkg="yumi_ros"
            type="yumi_velocity_guard.py"
            name="yumi_velocity_guard"
            output="screen" />

      <node pkg="yumi_ros"
            type="yumi_session_watchdog.py"
            name="yumi_session_watchdog"
            output="screen" />


      <!-- cartesion velocity controller for both arms -->
      <node pkg="yumi_ros"
            type="yumi_cartesian_velocity_controller.py"
            name="yumi_dual_arm_cartesian_velocity_controller"
            output="screen">
            <param name="robot_description_param" value="/robot_description" />

            <param name="left_base_link" value="yumi_base_link" />
            <param name="left_tip_link" value="yumi_tcp_l" />

            <param name="right_base_link" value="yumi_base_link" />
            <param name="right_tip_link" value="yumi_tcp_r" />

            <param name="left_input_topic" value="/yumi/robl/cartesian_velocity_command" />
            <param name="right_input_topic" value="/yumi/robr/cartesian_velocity_command" />
            <param name="output_topic" value="/yumi/joint_group_velocity_command" />

            <param name="publish_rate" value="250.0" />
            <param name="command_timeout" value="0.2" />
            <param name="max_joint_velocity" value="1.5" />
            <param name="damping" value="0.03" />
            <param name="min_joint_velocity" value="0.0" />
      </node>

      <!-- moveit -->
      <include file="$(find yumi_moveit_config)/launch/move_group.launch">
      </include>

      <!-- homig service -->
      <node pkg="yumi_ros"
            type="move_both_arms_home.py"
            name="move_both_arms_home"
            output="screen">
            <param name="startup_delay" value="16" />
      </node>

      <!-- cartesian pose servo. Allows the user to command a cartesian pose for the end effector -->
      <node pkg="yumi_ros"
            type="yumi_cartesian_pose_servo.py"
            name="yumi_cartesian_pose_servo"
            output="screen">
      </node>

      <!-- this bridges allows the yumi_cartesian_velocity_controller to execute MoveIt pose goals by converting them to cartesian velocity commands and sending them to the appropriate topics. It also handles goal tolerances and settling time to ensure smooth execution of MoveIt plans. The parameters can be tuned for better performance based on the specific use case and robot configuration. -->
      <node pkg="yumi_ros"
            type="yumi_execute_bridge.py"
            name="yumi_execute_bridge"
            output="screen">
      <param name="rate" value="250.0" />
      <param name="kp" value="2.0" />
      <param name="max_vel" value="0.25" />
      <param name="goal_tolerance" value="0.01" />
      <param name="goal_settle_time" value="0.3" />
      </node>

      <!-- allows the user to publish desired end-effector poses to specific topics, 
      and the node will handle the MoveIt planning and execution to reach those poses. 
      This is useful for testing and for applications where you want to specify target poses directly 
      without going through the full MoveIt interface.  -->
      <node pkg="yumi_ros"
            type="yumi_moveit_pose_topics.py"
            name="yumi_moveit_pose_topics"
            output="screen">
            <param name="base_frame" value="yumi_base_link" />
            <param name="left_tip_link" value="yumi_tcp_l" />
            <param name="right_tip_link" value="yumi_tcp_r" />

            <param name="velocity_scaling" value="1.0" />
            <param name="acceleration_scaling" value="1.0" />
            <param name="planning_time" value="3.0" />
            <param name="num_planning_attempts" value="5" />
            <param name="startup_delay" value="16.0" />

            <!-- Placeholder quaternions -->
            <rosparam param="left_facing_down_quat">[1.0, 0.0, 0.0, 0.0]</rosparam>
            <rosparam param="right_facing_down_quat">[1.0, 0.0, 0.0, 0.0]</rosparam>
      </node>

      <!-- gripper drivers -->
      <node pkg="yumi_ros"
            type="yumi_smartgripper_driver.py"
            name="yumi_left_smartgripper_driver"
            output="screen">
            <param name="startup_delay" value="10" />
      </node>

      <!-- joint state republisher to convert from /yumi/egm/joint_states to /joint_states for moveit and other nodes that expect the standard topic name -->
      <node pkg="yumi_ros"
            type="yumi_joint_state_republisher.py"
            name="yumi_joint_state_republisher"
            output="screen">
            <remap from="/input_joint_states" to="/yumi/egm/joint_states" />
            <remap from="/output_joint_states" to="/joint_states" />
      </node>

      <!-- robot description -->

      <arg name="arms_interface" default="VelocityJointInterface" />
      <arg name="grippers_interface" default="PositionJointInterface" />
      <arg name="yumi_parent" default="world" />

      <param name="robot_description"
            command="$(find xacro)/xacro $(find yumi_description)/urdf/yumi.urdf.xacro arms_interface:=$(arg arms_interface) grippers_interface:=$(arg grippers_interface) yumi_parent:=$(arg yumi_parent)" />

      <node pkg="robot_state_publisher"
            type="robot_state_publisher"
            name="robot_state_publisher"
            output="screen">
      </node>



</launch>
